.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.lineage/
.nf-test/
.nf-test.log
tests/data/directrna/samplesheet_directrna.generated.csv
tests/data/directrna/samplesheet_methylation.generated.csv
modules/local/.nf-test.log
