/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/nanotranseq'

    drimseq_min_samps_gene_expr = 1
    drimseq_min_gene_expr = 1
    drimseq_min_samps_feature_expr = 1
    drimseq_min_feature_expr = 1
    drimseq_min_samps_feature_prop = 1
    drimseq_min_feature_prop = 0.01
}

// Fixes S3 access issues on self-hosted runners
aws.client.anonymous = true
